@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: #005CB4;
  font-size: 4vw;
  text-align: center;
  color: white;
}

.contenedor-flex {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 5px;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: black;
  color: white;
  font-size: 4vw;
  font-family: 'Cal Sans', Verdana, Tahoma, sans-serif;
}

.abs {
  width: 300px;
  height: 300px;
  border: 2px solid blue;
  border-radius: 10px;
}

.porc {
  width: 50%;
  border: 2px solid blue;
  border-radius: 10px;
  font-size: 5vw;
}

.span1 {
  border: 2px solid green;
}
.span2 {
  border: 2px dotted red;
}

.texto-inicial {
  font-family: Roboto, Verdana, Tahoma, sans-serif;
  text-align: center;
  background-color: #005CB4;
  color: white;
  border-radius: 10px;
  padding: 5%;
}

.tit-form {
  text-align: center;
  font-family: 'Cal Sans', Verdana, Tahoma, sans-serif;
}

.prod-contenedor {
  display: flex;
  flex-wrap: wrap;
}

.item {
  border: 2px solid #005CB4;
}
.formulario {
  border: 2px solid #005CB4;
  background-color: rgba(0, 92, 180, 0.5);
  color: blue;
  border-radius: 10px;
  padding: 5%;
  text-align: center;
  font-family: 'Cal Sans', Verdana, Tahoma, sans-serif;
}

.boton {
  border-radius: 10px;
  background-color: rgba(0, 92, 180, 0.9);
  color: azure;
}

.boton:hover {
  background-color: green;
  color: white;
}

textarea {
  color: black;
}

.footer-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
